# Ignore compiled Python files
*.pyc

# Ignore virtual environment folder
venv/

# Ignore local development configuration files
.env

# Ignore log files
*.log

# Ignore cache files
__pycache__/

# Ignore Plotly cache folder
.plotly_cache/

# Ignore Python package lists
*.egg-info/
dist/
build/

# Ignore Streamlit secrets file
.streamlit/secrets.toml
